* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white
}

.top {
    background-image: url(./images/IP3-master/assets/backgrounds/h_img.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    margin: 10px;
    padding: 80px;
}

.logo {
    margin-top: 10px;
    margin-bottom: 22px;
    width: 60px;
    height: 60px;
}

.about {}

.services {
    background-image: url(./images/IP3-master/assets/backgrounds/s_image.jpg);
    color: white;
    text-align: center;
    height: 150%;
    padding: 100px;
}

h2 {
    text-align: center;
}

.contact {
    background-image: url(./images/IP3-master/assets/backgrounds/c_image.jpg);
    padding: 100px;
    background-size: cover;
}

h5 {
    color: white;
}

.nice {
    text-align: center;
}

.btn {
    color: white;
    background-color: blueviolet;
}

.control {
    background: transparent;
    color: white;
}

#controls {
    background: transparent;
    color: white;
}

.footer {
    text-align: center;
}

.we {
    text-align: center;
}

.col-md-4 {
    text-align: center;
}

::placeholder {
    color: white;
}

#prod-contentt {
    display: none;
}

#dev-contentt {
    display: none;
}

#contentt {
    display: none;
}

.blue:hover img {
    transform: scale(1.1);
    transition: all 0.4s ease-out;
}

.paragraph {
    color: white;
    font-weight: bold;
    position: relative;
    top: -10rem;
    left: 5rem;
    border: 2px solid;
    border-radius: 20px;
    box-shadow: 3px 3px 2px black;
    width: 40%;
    text-align: center;
    opacity: 0;
}

.paragraph:hover {
    opacity: 1;
}

.menu-flex {
    display: flex;
}


/* #portfolio {
    margin-right: 16px;
    margin-left: 8%;
} */